#world{
    height: 221200px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-image: linear-gradient( rgb(15, 15, 15), rgb(11, 122, 248), rgb(0, 217, 255));
}

.onEarth{
    position: absolute;
    width: 100%;
    bottom: 0;
}

.onEarthImg{
    position: absolute;
    bottom: 0;
}

.onEarthInfo{
    position: absolute;
    width: 40%;
    font-size: 3em;
}

/*body {
    overflow: hidden;
}*/