html{
    scroll-behavior: smooth;
}

#intro{
    position: fixed;
    height: 90vh;
    width: 90%;
    top: 5vh;
    right: 5%;
    background-image: linear-gradient(to top,#FFFFFF,#6CDDFF, #2C00B2);
    border-radius: 50px;
    z-index: 3;
    transition: 1s;
}
#introTitle{
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50vh;
    transform: translate(-50%,-50%);
    z-index: 2;
}
#n1{
    transform: translate(-10%,0);
    font-size: 2em;
}
#n2{
    transform: translate(20%,0);
    font-size: 2em;
}
#intro .button{
    width: 100%;
    margin: 5%;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    background-color: white;
    border-radius: 50px;
    opacity: 75%;
}
#intro .button:hover{
    filter: brightness(120%);
    box-shadow: 4px 4px 8px rgb(205, 180, 228);
    opacity: 100%;
}

#aboutUs{
    position: fixed;
    height: 90vh;
    width: 90%;
    top: 5vh;
    left: 100%;
    background-image: linear-gradient(to top,#B3E8FF,#80D9FF, #4DC9FF);
    border-radius: 50px;
    z-index: 4;
    transition: 1s;
}
.abox{
    display: inline-block;
    margin-left: 5%;
    width: 26%;
    margin-top: 5%;
    height: 33%;
    text-align: center;
}

.admin{
    width: 60%;
    height: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    background-repeat: no-repeat;
    background-size: cover;
}
.adName{
    width: 100%;
    height: 20%;
    background-color: darkorange;
    display: block;
}
#admin1{
    background-image: url(admin/golf.PNG);
}
#admin2{
    background-image: url(admin/garfield.jpg);
}
#admin3{
    background-image: url(admin/jinny.jpg);
}
#admin4{
    background-image: url(admin/wei.jpg);
}
#admin5{
    background-image: url(admin/pang.jpg);
}

#aboxnon{
    opacity: 0;
}

#world{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /*overflow: hidden;*/
    background-color: black;
}

#definition{
    position: fixed;
    top: 0;
    left: -34%;
    width: 36%;
    height: 100vh;
    background-color: white;
    z-index: 2;
    transition: .8s;
    opacity: 1;
    overflow-x: visible;
}
#textbox{
    margin-left: 15%;
    margin-right: 15%;
    position: absolute;
    top: 10%;
    height: 80%;
    width: 70%;
    transform: translate(0,0%);
    text-align: center;
    transition: 1s;
    opacity: 1;
}
#textbox h1{
    height: 10%;
    width: 100%;
}
#textbox div{
    position: absolute;
    width: 100%;
    top: 55%;
    transform: translate(0,-50%);
}
.info{
    white-space:pre-wrap;
    font-size: 1.35em;
}

#menu{
    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 2;
    width: 40%;
}
#menu div{
    width: 30%;
    margin: 1% 1% 1% 1%;
    text-align: center;
    font-size: 1.25em;
    display: inline-block;
    cursor: pointer;
    background-color: white;
    border-radius: 50px;
    opacity: 75%;
}
#menu div:hover{
    filter: brightness(120%);
    box-shadow: 4px 4px 8px rgb(205, 180, 228);
    opacity: 100%;
}

.scene{
    --g1:'black';
    --g2:'black';
    --h: 100vh;
    --b: 0vh;
    position: absolute;
    height: var(--h);
    width: 100%;
    bottom: var(--b);
    background-image: linear-gradient(var(--g2), var(--g1));
    transition: 2s;
}

.Obj{
    --pos:60%;
    --h:500px;
    --b:0px;
    position: absolute;
    left: var(--pos);
    transform: translate(-50%,0);
    height: var(--h);
    bottom: var(--b);
    z-index: 1;
}

.actObj{
    --pos:60%;
    --h:500px;
    --b:0px;
    position: absolute;
    left: var(--pos);
    transform: translate(-50%,0);
    height: var(--h);
    bottom: var(--b);
    transition: 1s;
}
.actObj:hover{
    filter: brightness(150%);
    cursor: pointer;
}
.actObj img{
    height: 100%;
}
.defh{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(0,-75%);
    white-space: nowrap;
    font-weight: bold;
    font-size: 1.25em;
    text-shadow: 1px 0px 0px white, -1px 0px 0px white, 0px 1px 0px white, 0px -1px 0px white;
}
#colosseum .defh{
    left: 30%;
}
#hyperion .defh{
    top: 8%;
}
#statueOfLiberty .defh{
    left: 25%;
}
#human .defh{
    top: 10%;
    left: 55%;
}

.bgObj{
    --pos:60%;
    --t:50px;
    position: absolute;
    transform: translate(-50%,0);
    left: var(--pos);
    top: var(--t);
}

.floatObject{
    --pos:60%;
    --h:500px;
    --b:0px;
    position: absolute;
    left: var(--pos);
    bottom: var(--h);
}

#up{
    position: fixed;
    width: 12vh;
    height: 12vh;
    background-image: url(img/next.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: 35vh;
    right: 3%;
    z-index: 2;
    filter: brightness(80%);
    transform: rotate(90deg);
}
#up:hover{
    filter: brightness(110%);
    cursor: pointer;
}
#uptop{
    position: fixed;
    width: 12vh;
    height: 12vh;
    background-image: url(img/last.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: 20vh;
    right: 3%;
    z-index: 2;
    filter: brightness(80%);
    transform: rotate(90deg);
}
#uptop:hover{
    filter: brightness(110%);
    cursor: pointer;
}

#down{
    position: fixed;
    width: 12vh;
    height: 12vh;
    background-image: url(img/next.png);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 35vh;
    right: 3%;
    z-index: 2;
    filter: brightness(80%);
    transform: rotate(-90deg);
}
#down:hover{
    filter: brightness(110%);
    cursor: pointer;
}
#downbuttom{
    position: fixed;
    width: 12vh;
    height: 12vh;
    background-image: url(img/last.png);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 20vh;
    right: 3%;
    z-index: 2;
    filter: brightness(80%);
    transform: rotate(-90deg);
}
#downbuttom:hover{
    filter: brightness(110%);
    cursor: pointer;
}

.sceneInfo{
    --fc:black;
    margin-left: 25%;
    width: 50%;
    height: min-content;
    text-align: center;
    position: absolute;
    top: 50vh;
    transform: translate(0,-50%);
    opacity: .75;
    color: var(--fc);
    transition:3s;
}
.sceneInfo p{
    font-size: 1.5em;
}

body {
    font-family: "Prompt";
    /*overflow: hidden;*/
}

#test{
    height: 100vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: blueviolet;
    z-index: 20;
    transition: 5s;
}

.waves{
    position: absolute;
    left: 100%;
    top: 50vh;
    transform: translate(0,-50%);
    z-index: 20;
}

.ozone{
    width: 5vh;
    height: 5vh;
    background-image: url(img/ozone.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
}
.hydrogen{
    width: 5vh;
    height: 5vh;
    background-image: url(img/hydrogen.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
}
.helium{
    width: 5vh;
    height: 5vh;
    background-image: url(img/helium.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
}

.shootingStar{
    width: 30vh;
    height: 30vh;
    background-image: url(img/shootingStar.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.star{
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 1px 1px 1px white;
}

/*---------------------- code from https://codepen.io/rsbear/pen/ZpXJVp ------------------*/
.close-container{
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
  top: 5%;
  right: 2%;
  cursor: pointer;
}

.leftright{
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: #F4A259;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all .3s ease-in;
}

.rightleft{
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: #F4A259;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all .3s ease-in;
}

label{
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: .6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all .3s ease-in;
  opacity: 0;
}
.close{
  margin: 60px 0 0 5px;
  position: absolute;
}

.close-container:hover .leftright{
  transform: rotate(-45deg);
  background-color: #F25C66;
}
.close-container:hover .rightleft{
  transform: rotate(45deg);
  background-color: #F25C66;
}
.close-container:hover label{
  opacity: 1;
}
/*---------------------------------------------------------------------------- */

/*-----------code from https://lauryndbrown.github.io/2017/06/08/creating-clouds-in-css.html----------------- */
.cloud{
    margin-top:70px;
    width:350px;
    height:120px;
    background:#ECEFF1;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    border-radius:100px;
 }
 .cloud::after, .cloud::before{
     content:"";
     position:relative;
     display:inline-block;
     background:inherit;
     border-radius:inherit;
 }
 .cloud::after{
     width:100px;
     height:100px;
     top:-220px;
     left:50px;
 }
 .cloud::before{
     width:180px;
     height:180px;
     top: -70px;
     left:130px;
 }
/*---------------------------------------------------------------------------- */


@media screen and (min-width: 600px) {
    #textbox h1{
        font-size: 3.25em;
    }
    .info{
        font-size: 2.5em;
    }
    #definition{
        left: -68%;
        width: 70%;
    }
    .defh{
        font-size: 3em;
    }
    #up{
        width: 8vh;
        height: 8vh;
        top: 20vh;
    }
    #uptop{
        width: 8vh;
        height: 8vh;
        top: 10vh;
    }
    #down{
        width: 8vh;
        height: 8vh;
        bottom: 20vh;
    }
    #downbuttom{
        width: 8vh;
        height: 8vh;
        bottom: 10vh;
    }
    .sceneInfo h1{
        font-size: 3.25em;
    }
    .sceneInfo p{
        font-size: 3em;
    }

    #LEO .defh{
        left: -50%;
    }
    #MEO .defh{
        left: -50%;
    }

}
