#world{
    height: 500000px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*overflow: hidden;*/
    background-image: linear-gradient( rgb(15, 15, 15), rgb(11, 122, 248), rgb(0, 217, 255));
}

#definition{
    position: fixed;
    top: 0;
    left: -34%;
    width: 36%;
    height: 100vh;
    background-color: rgb(209, 164, 238);
    z-index: 2;
    transition: .5s;
}

.onEarth{
    --pos:60%;
    --h:500px;
    position: absolute;
    left: var(--pos);
    height: var(--h);
    bottom: 0;
}

/*body {
    overflow: hidden;
}*/